name: Code Generate
on:
  repository_dispatch:
    types:
      - gen-proto
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout with submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive


      - name: Setup Dart
        run: |
           sudo apt-get update
           sudo apt-get install apt-transport-https wget gnupg2 -y
           sudo sh -c 'wget -qO- https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
           sudo sh -c 'wget -qO- https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
           sudo apt-get update
           sudo apt-get install dart -y

      - name: Install protoc
        run: |
          sudo apt update
          sudo apt install protobuf-compiler -y

      - name: Setup Protobuf Dart plugins
        run: dart pub global activate protoc_plugin

      - name: Update proto submodule
        run: make update-submodules

      - name: Generate Go code
        run: make generate

      - name: Commit and push code
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add -A
          git commit -m "feat: Update auto generated code"
          git push

